@import 'normalize';
@import 'variables';
@import 'mixins';

* {
   box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  color: $darkGreyFontColor;
}

#app,
#main,
html {
  min-height: 100vh;
}

#app, html {
  background: $grey;
}

#main {
  @include mediaQuery($mainBreakPoint) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 0;
    padding: 2em 0;
  }
}

.currentTemp,
.forecast,
.container {
  min-width: 300px;
}

.loadingText,
.errorText {
  font-size: 1.5em;
  text-align: center;
  padding: 0 1em;
}

.changeUnitButton,
.todayText {
  box-shadow: $subtleBoxShadow;
}

.currentTemp,
.forecast {
  padding: 3em .5em;
  box-shadow: $mainBoxShadow;
  background: #FFF;
}

.container {
  background: $grey;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.searchBar {
  text-align: right;
  padding: 2.5em 0;

  input[type="text"],
  button {
    font-size: 1em;
    padding: .5em 0;
    margin: 0;
    border: 0;
  }

  input[type="text"] {
    padding-left: .5em;
    width: 15.625em; /* 250px / 16px */
    &:focus {
      outline: none;
    }
  }

  button {
    width: 1.875em; /* 30px / 16px */
    margin-left: -1.875em;
  }
} // end .searchBar

.currentTemp {
  position: relative;
  text-align: center;
  min-height: 289px;
  max-width: 503.09px;
  margin: 0 auto;
  img { width: 5em; }
  .tempText {
    font-size: 5em;
    margin-top: -20px;
  }

  .todayText {
    display: inline-block;
    padding: .3em .6em;

    font-size: 1.2em;
    background: #C9C9C9;
    position: absolute;
    top: -17.75px; /* 35.5px / 2 */
    left: 10px;
  }
  .currentCondition {
    font-size: 1.6em;
  }
} // end .currentTemp

.changeUnitButton {
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;

  border-radius: 100%;
  width: 50px;
  height: 50px;
  float: right;

  position: relative;
  bottom: -25px; /* 50px / 2 */
  right: 10px;

  transition: box-shadow .5s;
  background: #C9C9C9;
  border: none;

  &:focus { outline: none; }
  &:hover { box-shadow: 0px 0px 17px 5px rgba(99,99,99,1); }
  &:active { margin-top: 5px;}
}

.forecast {
  max-width: 435.59px;
  margin: 4em auto;
  background: #FFF;

  li {
    margin-bottom: 1.2em;
    position: relative;
  }
  img, .weatherInfo { float: left; }
  img { width: 20%; }
  .weatherInfo {
    width: 80%;
    padding-left: .5em;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .dayText {
    font-weight: bold;
    font-size: 1.3em;
  }

  .tempText {
    font-size: 1.2em;
  }

  @include mediaQuery($mainBreakPoint) {
    margin: 0;
  }
}
